# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.idea/
**/.ipynb_*

#
*.zip

# Meshes
**/*.vtk

# Scrapy stuff:
.scrapy

# Remove my paper updates
**/myPaper/

# Video files
**/*.mp4
**/data/
**/numpy_arrays/